head  {
  font-family: Arial, sans-serif;
  background-color: #ff0000;
  color: #000000;
  }
body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #8fbfff;
    color: #333333;
  }

  img {
    width: 500px;
  }


  